@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cirka";
  src: url("assets/fonts/PPCirka-Light.woff") format("woff"),
    url("assets/fonts/PPCirka-Light.woff2") format("woff2");
}
@font-face {
  font-family: "EditorialNew";
  src: url("assets/fonts/PPEditorialNew-Thin.woff") format("woff"),
    url("assets/fonts/PPEditorialNew-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Eiko";
  src: url("assets/fonts/PPEiko-Light.woff") format("woff"),
    url("assets/fonts/PPEiko-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Hatton";
  src: url("assets/fonts/PPHatton-Light.woff") format("woff"),
    url("assets/fonts/PPHatton-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Migra";
  src: url("assets/fonts/PPMigra-Light.woff") format("woff"),
    url("assets/fonts/PPMigra-Light.woff2") format("woff2");
}
@font-face {
  font-family: "NeueWorld";
  src: url("assets/fonts/PPNeueWorld-ExtendedThin.woff") format("woff"),
    url("assets/fonts/PPNeueWorld-ExtendedThin.woff2") format("woff2");
}
@font-face {
  font-family: "PangramSans";
  src: url("assets/fonts/PPPangramSans-Regular.woff") format("woff"),
    url("assets/fonts/PPPangramSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Woodland";
  src: url("assets/fonts/PPWoodland-Ultralight.woff") format("woff"),
    url("assets/fonts/PPWoodland-Ultralight.woff2") format("woff2");
}
@font-face {
  font-family: "Woodland";
  src: url("assets/fonts/PPWoodland-Ultralight.woff") format("woff"),
    url("assets/fonts/PPWoodland-Ultralight.woff2") format("woff2");
}
@font-face {
  font-family: "Charlevoix";
  src: url("assets/fonts/PPCharlevoix-Thin.woff") format("woff"),
    url("assets/fonts/PPCharlevoix-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "NeueMontreal";
  src: url("assets/fonts/PPNeueMontreal-Light.woff") format("woff"),
    url("assets/fonts/PPNeueMontreal-Light.woff2") format("woff2");
}
@font-face {
  font-family: "ObjectSans";
  src: url("assets/fonts/PPObjectSans-Thin.woff") format("woff"),
    url("assets/fonts/PPObjectSans-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "PierSans";
  src: url("assets/fonts/PPPierSans-Light.woff") format("woff"),
    url("assets/fonts/PPPierSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "RightGrotesk";
  src: url("assets/fonts/PPRightGrotesk-SpatialFine.woff") format("woff"),
    url("assets/fonts/PPRightGrotesk-SpatialFine.woff2") format("woff2");
}
@font-face {
  font-family: "Telegraf";
  src: url("assets/fonts/PPTelegraf-UltraLight.woff") format("woff"),
    url("assets/fonts/PPTelegraf-UltraLight.woff2") format("woff2");
}

html {
  font-family: "PangramSans";
}
